@model ML.Grupo
@{
    ViewBag.Title = "GetAll";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Form</h2>

<div class=" container">
    <div class="row">
        <div class="col-md-12">
            <h2>Usuario</h2>
        </div>
    </div>
    <div class="row">
        <div class="col-md-12">
            <h5>Ingrese los datos del usuario</h5>
        </div>
    </div>
    @using (Html.BeginForm("GetAll", "Sistema", FormMethod.Post, new { enctype = "multipart/form-data" }))
    {
        <div class="row">
            <div class="col-md-12">
                @*@Html.LabelFor(model => model.IdSistema)
                @Html.TextBoxFor(model => model.IdSistema)*@
            </div>
            <div class="col-md-12">
                @Html.LabelFor(model => model.Nombre)
                @Html.TextBoxFor(model => model.Nombre)
            </div>
        </div>

        //Sistema

        <div class="row">
            <div class="col-md-3">
                @Html.LabelFor(model => model.Grupo.Carrera.Plantel.Sistema.IdSistema)
                <br />
                @Html.DropDownListFor(model => model.Grupo.Carrera.Plantel.Sistema.IdSistema, new SelectList(Model.Grupo.Carrera.Plantel.Sistema.Sistemas, "IdSistema", "Nombre"), "Seleccione un pais", new { @class = "form-control", @id = "ddlPais" })
               </div>
            @*Estados
                <div class="col-md-3">
                    @Html.LabelFor(model => model.)
                    @Html.LabelFor(model => model.Sistemas)
                    <br />
                    @if (Model.Direccion.Colonia.Municipio.Estado.Estados != null)
                    {
                      //  @Html.DropDownListFor(model => model.Direccion.Colonia.Municipio.Estado.IdEstado, new SelectList(Model.Direccion.Colonia.Municipio.Estado.Estados, "IdEstado", "Nombre"), "Seleccione un estado", new { @class = "form-control", @id = "ddlEstado" })

                    }
                    else
                    {
                       // @Html.DropDownListFor(model => model.Direccion.Colonia.Municipio.Estado.IdEstado, new SelectList(string.Empty, "IdEstado", "Nombre"), "Seleccione un estado", new { @class = "form-control", @id = "ddlEstado" })

                    }*@

        </div>

        <br />
        <div class="row">
            <div class="col-md-1">
                <button type="submit" class="btn btn-success"> Guardar</button>
            </div>
            <div class="col-md-1">
                @Html.ActionLink("Cancelar", "GetAll", "Usuario", new { @class = "btn btn-danger" })
            </div>
        </div>
    }
</div>

